@tailwind base;
@tailwind components;
@tailwind utilities;

#page-title {
  text-shadow: 2px 2px 7px #000000;
}

/* Chrome, Safari, Edge, Opera */
#number-input::-webkit-outer-spin-button,
#number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#number-input {
  -moz-appearance: textfield;
}

.loader-small {
  width: 18px;
  height: 18px;
  border: 5px solid #FFF;
  border-bottom-color: #878d97;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Hide scrollbar for Chrome, Safari and Opera */
#hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none !important;
}

* {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

#date-slider {
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  visibility: hidden;
}

input[type="range"]::-moz-range-thumb {
  visibility: hidden;
}