@tailwind base;
@tailwind components;
@tailwind utilities;

#page-title {
  text-shadow: 2px 2px 7px #000000;
}

/* Chrome, Safari, Edge, Opera */
#number-input::-webkit-outer-spin-button,
#number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#number-input {
  -moz-appearance: textfield;
}
